openapi: 3.0.3
info:
  title: Dekina API
  description: 공개 API 문서
  version: 1.0.0
  license:
    name: dekina        
    url: https://www.dekina.com  # 선택
servers:
  - url: https://www.dekina.com/api

tags:
  - name: 개요
    description: |
      이 결제 API는 가맹점이 안전하게 결제를 처리할 수 있도록 결제 생성, 조회, 취소 기능을 제공합니다.  
    
      API를 통해 인증 및 결제 관련 작업을 수행할 수 있으며, 결제를 통한 거래 내역 조회, 출금 신청, 정산 확인 등은 가맹점 페이지에서 상세히 확인할 수 있습니다.  
    
      본 문서는 가맹점 개발자를 대상으로 작성되었으며, API 연동을 위한 가이드와 사용 예시를 제공합니다.
  
  - name: 가이드
    description: |
      # 1. 연동 준비

      ## API 키 생성

      데키나 결제 API를 사용하려면 먼저 API 키를 발급받아야 합니다. 
 
      발급된 API 키는 클라이언트(가맹점)의 요청을 인증하고 권한을 확인하는 용도로 사용되며, 이를 통해 결제 관련 작업을 수행할 수 있습니다.

      ## API 키 종류

      결제 API에는 두 가지 키가 존재합니다:

      | 키 종류 | 용도 |
      |---------|--------------------------------------------|
      | `client` | 일반적인 서비스 이용 시 사용자 인증 및 권한 확인에 사용 |
      | `secret` | 결제, 결제 취소(환불) 등 민감한 작업 시 사용. **외부 노출 금지** |

      **⚠ 주의:** `secret` 키는 절대 클라이언트에 노출되지 않도록 서버에서 안전하게 관리해야 합니다.

      # 2. 연동

      결제·결제 취소(환불) API를 호출할 때에는 발급받은 API 키(`client`, `secret`)를 포함하여 요청합니다.  
      각 API의 상세 사용 방법은 **결제·결제 취소(환불) API 문서**를 참고하세요.
  
  - name: 비즈니스 에러 코드
    description: |
      # 일반
      | 코드  | 원인                                     | 해결방법                             |
      |-------|----------------------------------------|-------------------------------------|
      | 400  | 유효성 검증 실패 | 올바른 필드 값 입력
      | 401  | 인증 실패                         | API 별 필요한 인증 방식 확인 후 재요청               |
      | 403  | 인가되지 않은 권한           | 자원에 대한 접근 권한이 없는 상태 (예: 타 가맹점 거래내역 건 환불시도)  |
      | 404  | 파일(자원) 찾기 실패                         | 유효한 값 입력 후 재요청               |
      | 500  | 서버 오류                     | 당사 서버에서 발생한 오류로 contact@dekina.com 으로 관리자 문의         |

      # 인증 관련
      | 코드  | 설명                                     | 해결방법                             |
      |-------|----------------------------------------|-------------------------------------|
      | 1001  | 전화번호 `+` 접두사 누락                  | 전화번호 값 입력 시 `+` 접두사 포함 후 재요청 (예: +821000000000)      |
      | 1002  | 기준 횟수(10회) 이상의 인증번호 요청           | 10분 뒤 재요청    |
      | 1003  | 기준 시간 (30초) 미만 간격의 인증번호 요청       |  30초 간격으로 인증번호 발송 가능   |
      | 1004  | 인증번호 발송 실패                         | 전화번호 입력 값 확인 후 재요청, 지속적인 문제 발생 시 contact@dekina.com 으로 관리자 문의     |
      | 1006  | 유효하지 않은 인증번호                         | 올바른 인증번호 입력 값 확인 후 재요청     |
      | 1008  | 로그인 실패                         | 올바른 아이디 혹은 비밀번호 입력 후 재요청     |
      | 1009  | 유효하지 않은 API 키                         | 올바른 API 키 값 입력 후 재요청    |

      # 결제 관련
      | 코드  | 설명                                     | 해결방법                             |
      |-------|----------------------------------------|-------------------------------------|
      | 2001  | 카드결제 실패               | 오류 메세지 확인 후 해당하는 안내 문구에 따라 조치 후 재요청    |
      | 2002  | 결제관련 서버 내부 오류                           | contact@dekina.com 으로 관리자 문의 |
      | 2003  | 유효하지 않은 카드 정보                            | 카드결제 요청 시 카드정보 혹은 카드정보 고유 식별 아이디 입력 후 재요창 |

      # 거래내역 관련
      | 코드  | 설명                                     | 해결방법                             |
      |-------|----------------------------------------|-------------------------------------|
      | 3001  | 거래내역의 결제정보 조회 실패               | 서버 측에서 발생한 확률이 높은 오류로, contact@dekina.com 으로 관리자 문의      |
      | 3002  | 거래내역 조회 실패                           | 서버 측에서 발생한 확률이 높은 오류로, contact@dekina.com 으로 관리자 문의                   |
      | 3003  | 환불 불가                   | 오류 메세지 확인 후 해당하는 안내 문구에 따라 조치 후 재요청     |
      ---

paths:
  # auth
  /auth/verification-codes:
    $ref: './apis/auth/verification-codes-login.yaml#/paths/~1auth~1verification-codes~1login'  
  /auth/login:
    $ref: './apis/auth/login.yaml#/paths/~1auth~1login'
  # token 
  /token/issue:
    $ref: './apis/token/issue.yaml#/paths/~1token~1issue'
  # pay 
  /v1/pay/card/manual:
    $ref: './apis/pay/card-manual.yaml#/paths/~1v1~1pay~1card~1manual'
  /v1/pay/money/refund:
    $ref: './apis/pay/card-refund.yaml#/paths/~1v1~1money~1refund'
